.ao-card {
    padding: 1rem 0.5rem;
    text-align: center;
    margin: 0.5rem 0rem;
    background-color: black;
    flex-direction: row;
    transition: transform .2s;
    cursor: pointer;
}

.ao-card:hover {
    transform: scale(1.1);
}

.ao-row__cards {
    margin: 0.7rem 0rem;
    justify-content: center;
}

.ao-card__img {
    height: 100%;
}

.ao-star__full {
    color: yellow;
}

.ao-star__empty {
    color: gray;
}