.ao-container--positionRelative {
    position: relative;
}

.ao-section {
    padding: 5rem 1rem;
}

.ao-section--paddingTop {
    padding-top: 1rem;
}

.ao-section--white {
    background-color: white;
}

.ao-section--purple {
    background-color: #7510F7;
}

.ao-container--fullWidthCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}