.ao-footer {
  padding: 1.5rem 0rem;
}

.ao-footer__float {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
}

.ao-footer__top {
  cursor: pointer;
}

.ao-footer__social {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 0rem 1rem;
}

.ao-footer--mail {
  background-image: url('../assets/icons/icon-email-gray.png');
}

.ao-footer--mail:hover {
  background-image: url('../assets/icons/icon-email-red.png');
}

.ao-footer--linkedin {
  background-image: url('../assets/icons/icon-linkedin-gray.png');
}

.ao-footer--linkedin:hover {
  background-image: url('../assets/icons/icon-linkedin-blue.png');
}

.ao-footer--github {
  background-image: url('../assets/icons/icon-github-gray.png');
}

.ao-footer--github:hover {
  background-image: url('../assets/icons/icon-github-blue.png');
}