@import './forms.css';
@import './typographic.css';
@import './header.css';
@import './footer.css';
@import './container.css';
@import './icon.css';
@import './card.css';

body {
    position: relative;
    font-family: 'Readex Pro', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

 
input:hover, input:active, input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    caret-color: #7510F7;
}