.ao-text__h2 {
    font-size: 1.4rem;
    color: #141c3a;
    font-weight: 800;
    word-break: break-word;
}

.ao-text__h4 {
    font-size: 1.2rem;
    color: rgba(10, 10, 10, 0.9);
    font-weight: 300;
    line-height: 1.5;
}

.ao-text__paragrah {
    font-size: 1rem;
}

.ao-text--white {
    color: white;
}

.ao-text--black {
    color: black;
}

.ao-text--paddingTop {
    padding-top: 1rem;
}

.ao-text--none {
    text-decoration: none;
}

.ao-text--noLink:hover {
    color: black;
}

.ao-text--noLinkWhite:hover {
    color: black;
}